<div class='popup'>
  <h3>{{full_district_name}}</h3>
  <table class='popup-data-table'>
    <tr>
      <td>Enrollment</td><td>{{commaNumber cd_enroll}}</td>
    </tr>
    <tr>
      <td>Average Savings</td><td>{{dollar cd_avg_savings}}</td>
    </tr>
    <tr>
      <td>Percent Increase</td><td>{{percent cd_perc_increase}}</td>
    </tr>
  </table>
</div>