<div class='popup'>
  <h3>{{full_district_name}}</h3>
  <table class='popup-data-table'>
    <tr>
      <td>Enrollment</td><td>{{commaNumber cd_enroll}}</td>
    </tr>
    <tr>
      <td>Annual dollar increase</td><td>{{dollar (annualize cd_avg_savings)}}</td>
    </tr>
    <tr>
      <td>Percent increase</td><td>{{percent cd_perc_increase}}</td>
    </tr>
  </table>
</div>